@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* body {
    overflow-x: hidden;
  } */
  .font-inter {
    font-family: "Inter", sans-serif;
  }

  .cinzel-font {
    font-family: "Cinzel", serif;
  }

  .thumbs {
    margin: auto;
  }

  .button {
    padding: 10px 30px;
    border-radius: 10px;
    border-bottom: 4px solid #d99904;
    background-color: #e8e8e8;
    color: #d99904;
    transition: all 0.5s;
  }

  .button:hover {
    background-color: #1f2937;
    border: none;
  }
}
