@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* tailwind css */
  .max-width {
    @apply max-w-7xl mx-auto px-2 md:px-0 mt-20;
  }

  /* custom css */

  .font-inter {
    font-family: "Inter", sans-serif;
  }

  .cinzel-font {
    font-family: "Cinzel", serif;
  }

  .thumbs {
    margin: auto;
  }

  .button {
    padding: 10px 30px;
    border-radius: 10px;
    border-bottom: 4px solid #d99904;
    background-color: #e8e8e8;
    color: #d99904;
    transition: all 0.5s;
  }

  .button:hover {
    background-color: #1f2937;
    border: none;
  }

  .button2 {
    padding: 10px 30px;
    border-radius: 10px;
    border-bottom: 4px solid black;
    background-color: white;
    color: #d99904;
    transition: all 0.5s;
  }

  .button2:hover {
    background-color: #1f2937;
    border: none;
  }

  .active {
    color: #eeff25;
  }

  .shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
}
